/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  margin: 36px auto 32px;
  width: 320px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.form input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.button {
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #365ee8;
}

/* Gallery */

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  justify-content: center;
}

.gallery-item {
  width: 300px;
  border: 1px solid #808080;
  border-radius: none;
  overflow: hidden;
  background: white;
}

.gallery-item img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 24px;
  font-size: 12px;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
.is-hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-hidden {
  display: none;
}

.load-more {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}
